# Data scraping on Wiki with BeautifulSoup and Pandas

In [83]:
from bs4 import BeautifulSoup
import requests

url = 'https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue'

page = requests.get(url)

soup = BeautifulSoup(page.text, 'html')

table = soup.find_all('table')[1]

In [84]:
world_titles = table.find_all('th')
print(world_titles)

[<th>Rank
</th>, <th>Name
</th>, <th>Industry
</th>, <th>Revenue <br/>(USD millions)
</th>, <th>Revenue growth
</th>, <th>Employees
</th>, <th>Headquarters
</th>]

In [88]:
world_tables_titles = [title.text.strip() for title in world_titles]
print(world_tables_titles)

['Rank', 'Name', 'Industry', 'Revenue (USD millions)', 'Revenue growth', 'Employees', 'Headquarters']

In [89]:
import pandas as pd

In [96]:
world_tables_titles = [title.text.strip() for title in world_titles ]
print(world_tables_titles)

['Rank', 'Name', 'Industry', 'Revenue (USD millions)', 'Revenue growth', 'Employees', 'Headquarters']

In [97]:
df = pd.DataFrame(columns = world_tables_titles)

In [98]:
df

Empty DataFrame
Columns: [Rank, Name, Industry, Revenue (USD millions), Revenue growth, Employees, Headquarters]
Index: []

In [112]:
column_data = table.find_all('tr')

In [123]:
for row in column_data[1:]:
    
       row_data = row.find_all('td')
       individual_row_data = [data.text.strip() for data in row_data ]
       lenght = len(df)
       df.loc[lenght] = individual_row_data

In [124]:
df

,Rank,Name,Industry,Revenue (USD millions),Revenue growth,Employees,Headquarters
0,100,Qualcomm,Technology,"44,200",31.7%,"51,000","San Diego, California"
1,100,Qualcomm,Technology,"44,200",31.7%,"51,000","San Diego, California"
2,1,Walmart,Retail,"611,289",6.7%,"2,100,000","Bentonville, Arkansas"
3,2,Amazon,Retail and cloud computing,"513,983",9.4%,"1,540,000","Seattle, Washington"
4,3,ExxonMobil,Petroleum industry,"413,680",44.8%,"62,000","Spring, Texas"
...,...,...,...,...,...,...,...
97,96,Best Buy,Retail,"46,298",10.6%,"71,100","Richfield, Minnesota"
98,97,Bristol-Myers Squibb,Pharmaceutical industry,"46,159",0.5%,"34,300","New York City, New York"
99,98,United Airlines,Airline,"44,955",82.5%,"92,795","Chicago, Illinois"
100,99,Thermo Fisher Scientific,Laboratory instruments,"44,915",14.5%,"130,000","Waltham, Massachusetts"
101,100,Qualcomm,Technology,"44,200",31.7%,"51,000","San Diego, California"

In [127]:
df.to_csv(r'C:\Users\IT SUPPORT M4YORS PC\Desktop\1. Tech Videos\DATA ANALYSIS\files_folder//Companies.csv',index=False)